version: 1.6.{build}
image: Visual Studio 2017
configuration: Release
platform: Any CPU
before_build:
- cmd: nuget restore
build:
  verbosity: minimal
after_build:
- cmd: >-
    7z a MyOpCodeTable-net6.zip %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable\bin\Release\net6.0-windows\*.*

    7z a MyOpCodeTable-netframework.zip %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable\bin\Release\net48\*.*

    del %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\Microsoft.VisualStudio.CoreUtility.dll

    del %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\Microsoft.VisualStudio.Language.Intellisense.dll

    del %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\Microsoft.VisualStudio.Language.Intellisense.dll

    del %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\Microsoft.VisualStudio.Text.Data.dll

    del %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\Microsoft.VisualStudio.Text.Logic.dll

    del %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\Microsoft.VisualStudio.Text.UI.dll

    del %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\Microsoft.VisualStudio.Text.UI.Wpf.dll

    del %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\Microsoft.VisualStudio.Validation.dll

    del %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\Microsoft.VisualStudio.Language.dll

    del %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\StreamJsonRpc.dll

    7z a dnSpy_MyOpCodeTable-net6.zip %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\net6.0-windows\*.*
    
    7z a dnSpy_MyOpCodeTable-netframework.zip %APPVEYOR_BUILD_FOLDER%\MyOpCodeTable.Extension\bin\Release\net48\*.*

artifacts:
  - path: MyOpCodeTable-net6.zip
    name: MyOpCodeTable net6
    type: zip

  - path: MyOpCodeTable-netframework.zip
    name: MyOpCodeTable netframework
    type: zip

  - path: dnSpy_MyOpCodeTable-net6.zip
    name: dnSpy MyOpCodeTable net6
    type: zip

  - path: dnSpy_MyOpCodeTable-netframework.zip
    name: dnSpy MyOpCodeTable netframework
    type: zip

deploy:
  release: MyOpCodeTable-v$(APPVEYOR_BUILD_VERSION)
  description: 'Release description'
  provider: GitHub
  auth_token:
    secure: mrchthX5222OisS9nHqIqncf8OfDaPwqMS/SG5hhXaFodzF4UUmjOCZG7DJBPa8r
  artifact: /.*\.zip/
  draft: false
  prerelease: false
  on:
    branch: master
    APPVEYOR_REPO_TAG: false